.project
.settings/org.eclipse.m2e.core.prefs
beginner/.classpath
beginner/.project
beginner/.settings/.jsdtscope
beginner/.settings/org.eclipse.jdt.core.prefs
beginner/.settings/org.eclipse.m2e.core.prefs
beginner/.settings/org.eclipse.wst.common.component
beginner/.settings/org.eclipse.wst.common.project.facet.core.xml
beginner/.settings/org.eclipse.wst.jsdt.ui.superType.container
beginner/.settings/org.eclipse.wst.jsdt.ui.superType.name
beginner/.settings/org.eclipse.wst.validation.prefs
